.navbar {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    padding: 10px;
    color: white;
}
.lh h2{
    font-family: Cooper;
    font-size: 40px;
    font-weight: 400;
    line-height: 45.88px;
    text-align: left;
    color: #1A73E8;
    
}
ul{
  list-style: none; 
  display: flex;
}
li{
    padding: 10px 20px;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
}
li a{
    color: white;
}
.sb{
    padding: 2px 30px 2px 30px;
    width:500px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid black;
    
}

.si i{
    font-size: 20px;
}

